THINGSBOARD_HOST = 'mqtt.thingsboard.cloud'
ACCESS_TOKEN = 'accesstoken'
THINGSBOARD_DEVICE_ID=92b6f9d0-3f73-11f1-9234-b7886a2047b6
THINGSBOARD_HTTP_URL=https://thingsboard.cloud
THINGSBOARD_USERNAME=qcn7233@autuni.ac.nz
THINGSBOARD_PASSWORD=enteryourpassword
THINGSBOARD_FRESHNESS_SECONDS=60
SENSOR_OFFLINE_GRACE_SECONDS=90
PIR_ENTRY_PIN=24
PIR_EXIT_PIN=25
PIR_SEQUENCE_WINDOW_SECONDS=1.0
PIR_REFRACTORY_SECONDS=0.6
PIR_GPIO_BOUNCE_MS=200
PIR_PUBLISH_INTERVAL_SECONDS=0.5